<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sea_animal finder</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body class="homebod">

    <header class="homehead">
        <h1>Marine Animal Classifier</h1>
    </header>

    <nav class="homenav">
        <a href="/"><u>Home</u></a>
        <a href="intro"><u>About</u></a>
        <a href="#"><u>Contact</u></a>
    </nav>

    <main class="homemain">
        <h2>MARINE SEA ANIMAL CLASSIFIER</h2>
        <p>Let the vivid colors, intricate patterns, and fascinating behaviors of marine creatures capture your heart,<br> 
            igniting a passion for the conservation and appreciation of our precious marine ecosystems. Join us in celebrating the<br> 
            extraordinary tapestry of life beneath the waves, and let the love for marine life become a ripple that inspires<br>
            conservation and awe for generations to come.</p>
        <a href="predict"><button>Lets Predict !</button></a>
    </main>

    <footer class="homefoot">
        <a href="#" target="_blank">Facebook</a>
        <a href="#" target="_blank">Twitter</a>
        <a href="#" target="_blank">Instagram</a>
        <!-- Add more social links as needed -->
    </footer>
    <script src="/static/main.js"></script>
</body>
</html>