<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INTRODUCTION</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body class="introbod" >
    <main class="intromain">
        <div class="description">
            <h2>About Us</h2>
            <p>
                Embark on a journey into the depths of the ocean with our Marine Sea Animal Classifier web app. Explore 
                the wonders of the underwater world as you upload images of various marine creatures and witness the magic of 
                artificial intelligence in action. Our sophisticated model, trained to recognize a diverse array of sea life, 
                will swiftly identify and classify the species present in your photos. Whether it's the elegance of dolphins, 
                the vibrant colors of coral reefs, or the mysterious allure of deep-sea creatures, our classifier is here to unveil 
                the secrets of the ocean realm. Dive into the extraordinary and discover the beauty that lies beneath the waves with our 
                Marine Sea Animal Classifier.
            </p>
            <p>
                As you navigate through our Marine Sea Animal Classifier, you'll find yourself falling in love with the sheer diversity and 
                enchanting beauty of these underwater wonders. From the graceful dance of jellyfish to the majestic presence of 
                sea turtles, each species holds a piece of the ocean's charm.
            </p>
        </div>

        <div class="introimage">
            <img src="/static/intro-image.jpeg" alt="Description Image">
        </div>
    </main>

    
    <script src="/static/main.js"></script>
</body>
</html>